<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Css assignment Drawer</title>
    <link rel="stylesheet" href="../../defaults.css" />
    <link rel="stylesheet" href="../headers/headers.css" />
    <link rel="stylesheet" href="./drawer.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="./script.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="container-center">
        <h2>Permanent</h2>
        <div class="container-drawer">
          <div class="drawer">
            <div class="drawer-header">
              <h3>Mail</h3>
              <p>email@neog.com</p>
            </div>
            <ul class="drawer-items">
              <li>
                <button class="btn gray-hover drawer-item">
                  <i class="fas fa-inbox"></i> Inbox
                </button>
              </li>
              <li>
                <button class="btn gray-hover drawer-item">
                  <i class="fas fa-star"></i> Star
                </button>
              </li>
              <li>
                <button class="btn gray-hover drawer-item">
                  <i class="fas fa-paper-plane"></i> Sent
                </button>
              </li>
              <li>
                <button class="btn gray-hover drawer-item btn-nest">
                  <i class="fas fa-cog"></i> Settings ⬇️
                </button>
                <ul class="drawer-items nested-items">
                  <li>
                    <button class="btn gray-hover drawer-item">
                      <i class="fas fa-user-circle"></i> Account
                    </button>
                  </li>
                  <li>
                    <button class="btn gray-hover drawer-item">
                      <i class="fas fa-user-circle"></i> Account
                    </button>
                  </li>
                  <li>
                    <button class="btn gray-hover drawer-item">
                      <i class="fas fa-user-circle"></i> Account
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <main>
            <header>
              <h3 class="header-title">Permanent Drawer</h3>
            </header>
            <article>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis quisquam porro, debitis placeat non dolores molestias
              eligendi vitae ea fugiat sit nesciunt ipsum saepe, dignissimos
              sapiente, tenetur impedit modi blanditiis! Cum, atque
              reprehenderit eaque magnam, natus, aspernatur laborum asperiores
              consectetur maxime non dolores quo iusto. Eveniet ipsam quis
              quaerat error! Nihil fuga dicta quae ducimus magni mollitia
              reiciendis eligendi distinctio! Minima, consectetur ab
              perferendis, quibusdam similique illo ratione eos quo debitis
              doloribus aliquid, delectus impedit possimus. Aliquam, iste.
              Aperiam, ad quidem. Exercitationem voluptas quo neque possimus
              quam veniam, facere delectus! Voluptates veniam quibusdam maxime
              exercitationem, dolore quos magni fugit esse. Soluta adipisci
              similique veritatis delectus ipsum nisi ea, optio eum provident,
              dolor cumque esse! Ipsam natus in voluptates delectus dolorum.
              Minima laborum assumenda sit soluta atque velit voluptatem hic
              facere unde sapiente fugit consequatur porro numquam tenetur,
              quibusdam voluptates, voluptas modi provident magnam tempora. Id,
              perspiciatis! Eveniet explicabo est sunt. Perferendis repellendus
              architecto explicabo sint. Quod quidem libero, quos laborum quo
              alias, earum minima quae, quasi illum numquam deserunt corrupti
              veritatis ut iure? Quis aspernatur ex animi quod vitae voluptas!
              Esse labore, modi sed temporibus quidem perferendis accusantium a
              facere sint est deleniti aliquam deserunt suscipit nihil veritatis
              odit incidunt pariatur magni iure laborum itaque molestiae neque
              iste! Blanditiis, aliquam. Rem distinctio, quisquam dicta repellat
              harum mollitia. Praesentium blanditiis, perferendis alias corporis
              dolorem dignissimos soluta odio consequuntur cum omnis, quas
              facilis voluptatum, temporibus reprehenderit sequi tempore ipsum
              dolores deserunt in. Reprehenderit cumque laborum quae quis
              molestiae exercitationem, dolorem quo illum aut! Necessitatibus
              consectetur quas distinctio reprehenderit minus iste voluptas
              autem officiis exercitationem error voluptatum quaerat aut quia
              assumenda, nihil unde? Odio pariatur dicta, facere blanditiis
              maiores dolor magnam laboriosam quos, corporis, ipsum voluptatum
              perferendis ducimus alias vero maxime commodi eligendi
              necessitatibus ratione aperiam harum beatae! Reiciendis mollitia
              obcaecati cum laborum.
            </article>
          </main>
        </div>

        <h2>Dismissible</h2>
        <div class="container-drawer">
          <div class="drawer hide-menu drawer-dismiss">
            <div class="drawer-header">
              <h3>Mail</h3>
              <p>email@neog.com</p>
            </div>
            <ul class="drawer-items">
              <li>
                <button class="btn gray-hover drawer-item">
                  <i class="fas fa-inbox"></i> Inbox
                </button>
              </li>
              <li>
                <button class="btn gray-hover drawer-item">
                  <i class="fas fa-star"></i> Star
                </button>
              </li>
              <li>
                <button class="btn gray-hover drawer-item">
                  <i class="fas fa-paper-plane"></i> Sent
                </button>
              </li>
              <li>
                <button class="btn gray-hover drawer-item btn-nest">
                  <i class="fas fa-cog"></i> Settings
                </button>
                <ul class="drawer-items nested-items">
                  <li>
                    <button class="btn gray-hover drawer-item">
                      <i class="fas fa-user-circle"></i> Account
                    </button>
                  </li>
                  <li>
                    <button class="btn gray-hover drawer-item">
                      <i class="fas fa-user-circle"></i> Account
                    </button>
                  </li>
                  <li>
                    <button class="btn gray-hover drawer-item">
                      <i class="fas fa-user-circle"></i> Account
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <main>
            <header>
              <div class="icon btn-dismiss">
                <i class="fas fa-bars"></i>
              </div>

              <h3 class="header-title">Dissmissible</h3>
            </header>
            <article>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis quisquam porro, debitis placeat non dolores molestias
              eligendi vitae ea fugiat sit nesciunt ipsum saepe, dignissimos
              sapiente, tenetur impedit modi blanditiis! Cum, atque
              reprehenderit eaque magnam, natus, aspernatur laborum asperiores
              consectetur maxime non dolores quo iusto. Eveniet ipsam quis
              quaerat error! Nihil fuga dicta quae ducimus magni mollitia
              reiciendis eligendi distinctio! Minima, consectetur ab
              perferendis, quibusdam similique illo ratione eos quo debitis
              doloribus aliquid, delectus impedit possimus. Aliquam, iste.
              Aperiam, ad quidem. Exercitationem voluptas quo neque possimus
              quam veniam, facere delectus! Voluptates veniam quibusdam maxime
              exercitationem, dolore quos magni fugit esse. Soluta adipisci
              similique veritatis delectus ipsum nisi ea, optio eum provident,
              dolor cumque esse! Ipsam natus in voluptates delectus dolorum.
              Minima laborum assumenda sit soluta atque velit voluptatem hic
              facere unde sapiente fugit consequatur porro numquam tenetur,
              quibusdam voluptates, voluptas modi provident magnam tempora. Id,
              perspiciatis! Eveniet explicabo est sunt. Perferendis repellendus
              architecto explicabo sint. Quod quidem libero, quos laborum quo
              alias, earum minima quae, quasi illum numquam deserunt corrupti
              veritatis ut iure? Quis aspernatur ex animi quod vitae voluptas!
              Esse labore, modi sed temporibus quidem perferendis accusantium a
              facere sint est deleniti aliquam deserunt suscipit nihil veritatis
              odit incidunt pariatur magni iure laborum itaque molestiae neque
              iste! Blanditiis, aliquam. Rem distinctio, quisquam dicta repellat
              harum mollitia. Praesentium blanditiis, perferendis alias corporis
              dolorem dignissimos soluta odio consequuntur cum omnis, quas
              facilis voluptatum, temporibus reprehenderit sequi tempore ipsum
              dolores deserunt in. Reprehenderit cumque laborum quae quis
              molestiae exercitationem, dolorem quo illum aut! Necessitatibus
              consectetur quas distinctio reprehenderit minus iste voluptas
              autem officiis exercitationem error voluptatum quaerat aut quia
              assumenda, nihil unde? Odio pariatur dicta, facere blanditiis
              maiores dolor magnam laboriosam quos, corporis, ipsum voluptatum
              perferendis ducimus alias vero maxime commodi eligendi
              necessitatibus ratione aperiam harum beatae! Reiciendis mollitia
              obcaecati cum laborum.
            </article>
          </main>
        </div>

        <h2>Modal</h2>
        <div class="container-drawer modal-container">
          <div class="drawer hide-menu drawer-modal">
            <div class="drawer-header">
              <h3>Mail</h3>
              <p>email@neog.com</p>
            </div>
            <ul class="drawer-items">
              <li>
                <button class="btn gray-hover drawer-item">
                  <i class="fas fa-inbox"></i> Inbox
                </button>
              </li>
              <li>
                <button class="btn gray-hover drawer-item">
                  <i class="fas fa-star"></i> Star
                </button>
              </li>
              <li>
                <button class="btn gray-hover drawer-item">
                  <i class="fas fa-paper-plane"></i> Sent
                </button>
              </li>
              <li>
                <button class="btn gray-hover drawer-item btn-nest">
                  <i class="fas fa-cog"></i> Settings
                </button>
                <ul class="drawer-items nested-items">
                  <li>
                    <button class="btn gray-hover drawer-item">
                      <i class="fas fa-user-circle"></i> Account
                    </button>
                  </li>
                  <li>
                    <button class="btn gray-hover drawer-item">
                      <i class="fas fa-user-circle"></i> Account
                    </button>
                  </li>
                  <li>
                    <button class="btn gray-hover drawer-item">
                      <i class="fas fa-user-circle"></i> Account
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <main class="modal">
            <header>
              <div class="icon btn-modal">
                <i class="fas fa-bars"></i>
              </div>

              <h3 class="header-title">Modal Drawer</h3>
            </header>
            <article>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis quisquam porro, debitis placeat non dolores molestias
              eligendi vitae ea fugiat sit nesciunt ipsum saepe, dignissimos
              sapiente, tenetur impedit modi blanditiis! Cum, atque
              reprehenderit eaque magnam, natus, aspernatur laborum asperiores
              consectetur maxime non dolores quo iusto. Eveniet ipsam quis
              quaerat error! Nihil fuga dicta quae ducimus magni mollitia
              reiciendis eligendi distinctio! Minima, consectetur ab
              perferendis, quibusdam similique illo ratione eos quo debitis
              doloribus aliquid, delectus impedit possimus. Aliquam, iste.
              Aperiam, ad quidem. Exercitationem voluptas quo neque possimus
              quam veniam, facere delectus! Voluptates veniam quibusdam maxime
              exercitationem, dolore quos magni fugit esse. Soluta adipisci
              similique veritatis delectus ipsum nisi ea, optio eum provident,
              dolor cumque esse! Ipsam natus in voluptates delectus dolorum.
              Minima laborum assumenda sit soluta atque velit voluptatem hic
              facere unde sapiente fugit consequatur porro numquam tenetur,
              quibusdam voluptates, voluptas modi provident magnam tempora. Id,
              perspiciatis! Eveniet explicabo est sunt. Perferendis repellendus
              architecto explicabo sint. Quod quidem libero, quos laborum quo
              alias, earum minima quae, quasi illum numquam deserunt corrupti
              veritatis ut iure? Quis aspernatur ex animi quod vitae voluptas!
              Esse labore, modi sed temporibus quidem perferendis accusantium a
              facere sint est deleniti aliquam deserunt suscipit nihil veritatis
              odit incidunt pariatur magni iure laborum itaque molestiae neque
              iste! Blanditiis, aliquam. Rem distinctio, quisquam dicta repellat
              harum mollitia. Praesentium blanditiis, perferendis alias corporis
              dolorem dignissimos soluta odio consequuntur cum omnis, quas
              facilis voluptatum, temporibus reprehenderit sequi tempore ipsum
              dolores deserunt in. Reprehenderit cumque laborum quae quis
              molestiae exercitationem, dolorem quo illum aut! Necessitatibus
              consectetur quas distinctio reprehenderit minus iste voluptas
              autem officiis exercitationem error voluptatum quaerat aut quia
              assumenda, nihil unde? Odio pariatur dicta, facere blanditiis
              maiores dolor magnam laboriosam quos, corporis, ipsum voluptatum
              perferendis ducimus alias vero maxime commodi eligendi
              necessitatibus ratione aperiam harum beatae! Reiciendis mollitia
              obcaecati cum laborum.
            </article>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
