.container-header {
  position: relative;
  border: 3px solid var(--purple-font);
  overflow-y: scroll;
  word-wrap: break-word;
  max-width: 50rem;
  max-height: 50rem;
  margin: 2rem;
}
header {
  background-color: var(--purple-font);
  color: var(--light-font);
  display: flex;
  align-items: center;
  max-height: 6rem;
  padding: 5px;
  width: 100%;
}
.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  min-width: 5rem;
  margin: 5px;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}
.icon:hover {
  background-color: var(--gray-font-medium);
  box-shadow: 0 0 10px 2px var(--gray-hover);
}
.header-title {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 5px;
}
header .icon-container {
  margin-left: auto;
}
article {
  font-size: 1.5rem;
  padding: 2rem;
}
header.fixed {
  position: sticky;
  top: 0;
}
.sticky {
  position: sticky;
  top: 0;
}
.hide {
  display: none;
}
.collapse {
  width: fit-content;
  border-bottom-right-radius: 2.5rem;
  position: sticky;
  top: 0;
}
