<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Css assignment Chips</title>
    <link rel="stylesheet" href="../../defaults.css" />
    <link rel="stylesheet" href="./chips.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="./script.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="container-center">
        <h2>Basic chips</h2>
        <div class="wrapper-chip basic-chip">
          <div class="container-chip">
            <div class="chip dark-gray-hover">
              chip 1
              <i class="fas fa-times-circle"></i>
            </div>
            <div class="chip dark-gray-hover">
              chip 2
              <i class="fas fa-times-circle"></i>
            </div>
            <div class="chip bg-primary">
              chip 3
              <i class="fas fa-times-circle"></i>
            </div>
          </div>
          <form class="hide-form">
            <input type="text" class="input-chip" autofocus />
          </form>
        </div>
      </div>

      <div class="container-center">
        <h2>stacked chips</h2>
        <div class="wrapper-chip stacked-chip">
          <div class="container-chip">
            <div class="chip dark-gray-hover">
              chip 1
              <i class="fas fa-times-circle"></i>
            </div>
            <div class="chip dark-gray-hover">
              chip 2
              <i class="fas fa-times-circle"></i>
            </div>
            <div class="chip bg-primary">
              chip 3
              <i class="fas fa-times-circle"></i>
            </div>
          </div>
          <form class="hide-form">
            <input type="text" class="input-chip" autofocus />
          </form>
        </div>
      </div>

      <div class="container-center">
        <h2>Chips with Input</h2>
        <div class="wrapper-chip input-chip">
          <div class="container-chip chip-list">
            <div class="chip dark-gray-hover">
              chip 1
              <i class="fas fa-times-circle"></i>
            </div>
            <div class="chip dark-gray-hover">
              chip 2
              <i class="fas fa-times-circle"></i>
            </div>
          </div>
          <form class="form-chip">
            <input type="text" class="input" autofocus />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
